.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #145374;
  color: #f6f5f5;
  cursor: pointer;
  padding: 12px 14px;
  border-radius: 12px;
  font-size: 25px;
}

.notvisible_class {
  display: none;
}
